<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form-1</title>
</head>
<body>
<h1>Form-1</h1>
    <form action="../app2/getform" method="get">
        <p>Num1 : <input type="text" name="txtNum1"></p>
        <p>Num 2: <input type="text" name="txtNum2"></p>
        <p><input type="submit" value="SEND"></p>
    </form>

<h1>Form-2</h1>
    <form action="../app2/getform" method="post">
        <p>Num1 : <input type="text" name="txtNum1"></p>
        <p>Num 2: <input type="text" name="txtNum2"></p>
        <p><input type="submit" value="SEND"></p>
    </form>

</body>
</html>